<div class="row">
    <div class="choices-container">
        <h3>Choose the Meaning</h3>
        <button class="btn btn-info" (click)="choice.logFoo()">
            <problem-choice #choice [choice]="choice1"></problem-choice>
        </button>

        <button class="btn btn-info" (click)="choice.logFoo()">
            <problem-choice #choice [choice]="choice2"></problem-choice>
        </button>

        <button class="btn btn-info" (click)="choice.logFoo()">
            <problem-choice #choice [choice]="choice3"></problem-choice>
        </button>
    </div>
</div>
